<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    {% for file in css %}
    <link rel="stylesheet" type="text/css" href="{{ file }}" />
    {% endfor %}

   
  </head>
  <body>
    <!---->
    {% include 'navbar.html' %}
    <div id="docs-container" class="container">
    <div data-current-page="Encyclopedia" id="body">

    
    <!-- 
    <div class="col-md-3 toc-container" role="navigation" aria-label="In-Page Navigation"><div class="bs-sidebar hidden-print affix well animated fadeIn">
<ul class="nav bs-sidenav">

<li class="main active"><a href="#gdc-encyclopedia">GDC Encyclopedia</a>
<ul class="nav">

</ul>
</li>
</li>

</ul>
</div></div>
     -->

    
      <h1><a href="/Encyclopedia/" style="color: inherit; text-decoration: none;">Encyclopedia<a></h1>
<div style="display: flex; flex-direction: column; width: 250px; margin-right: 20px; float: left" class="encyclopedia-menu toc-container">
<div class="side-box">
<!--<span class="side-box-title">Search the Encyclopedia<br>
<input class="side-box-input encyclopedia-search" type="text" style="margin-bottom: 12px;">
</span>-->
<span class="side-box-title">Browse the terms</span>
<br>
<div style="line-height: 36px; margin-top: 10px; margin-bottom: 7px">

    
        <button type='submit' class="term-button term-link" value="A">A</button>
    

    
        <button type='submit' class="term-button term-link" value="B" >B</button>
    

    
        <button type='submit' class="term-button term-link" value="C">C</button>
    

    
        <button type='submit' class="term-button term-link" value="D">D</button>
    

    
        <button type='submit' class="term-button term-link" value="E">E</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="F">F</button>
    

    
        <button type='submit' class="term-button term-link" value="G">G</button>
    

    
        <button type='submit' class="term-button term-link" value="H">H</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="I">I</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="J">J</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="K">K</button>
    

    
        <button type='submit' class="term-button term-link" value="L">L</button>
    

    
        <button type='submit' class="term-button term-link" value="M">M</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="N">N</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="O">O</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="P">P</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="Q">Q</button>
    

    
        <button type='submit' class="term-button term-link" value="R">R</button>
    

    
        <button type='submit' class="term-button term-link" value="A">S</button>
    

    
        <button type='submit' class="term-button term-link" value="T">T</button>
    

    
        <button type='submit' class="term-button term-link" value="U">U</button>
    

    
        <button type='submit' class="term-button term-link" value="V">V</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="W">W</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="X">X</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="Y">Y</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="Z">Z</button>
    

    
        <button type='submit' class="not-exists term-button term-link" value="#">#</button>
    

</div>
<a style="font-weight: bold" class="side-box-text" id="view-all-link" href="/Encyclopedia#">View All <i class="fa fa-chevron-right"></i></a> 
</div>
<div class="side-box">
<span class="side-box-title" style="padding-right: 108px; border-bottom: 1px solid #e5e5e5;">Suggest a Topic</span>
<br>
<br>
<span class="side-box-text" style="line-height: 10px;">Our goal is to maintain this resource as an important tool for understanding cancer biology. If there is
a topic you are unsure about, please suggest it below.
</span> 
<br>
<a href="mailto:support@nci-gdc.datacommons.io?subject=Encyclopedia:%20Suggest%20a%20topic&body=Hi!%20I%20would%20like%20to%20suggest%20a%20topic%20for%20the%20encyclopedia." class="topic-submit-button">Contact us &nbsp;</a>
</div>
</div>
    

    
    <div class="col-md-9 main-container fadeInBlurIntroOld loading-content-old" role="main" id="main" tabindex="-1">
    
    
        <div class="encyclopedia-container" style="display: flex; flex-direction: column; width: auto;">
<div class = "encyclopedia-main" style="display: flex; flex-direction: column;">
<div class="encyclopedia-content" style="margin-left: 10px;">
<div>
    The GDC Encyclopedia is an informational tool that makes GDC applications easier to use. It helps researchers, data submitters, developers and clinicians quickly find specific information without needing to browse for it.
</div>    
<div id = "encyc-table" style="background-color: white">
    <header id = "encyc-table-header">
        <h3>Common Topics for Researchers</h3>
    </header>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/Controlled_Access/">Controlled access</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/dbGaP/">dbGaP</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/GDC_Data_Portal/">GDC Data Portal</a>
        </span>
    </div>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/GDC_Data_Transfer_Tool/">GDC Data Transfer Tool (DTT)</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Harmonized_Data/">Harmonized Data</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Manifest_File/">Manifest File</a>
        </span>
    </div>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/Mutation_Annotation_Format/">Mutation Annotation Format (MAF)</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Variant_Type/">Variant Type</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Variant_Call_Format/">Variant Call Format (VCF)</a>
        </span>
    </div>
</div>
<div id = "encyc-table" style="background-color: white">
    <header id = "encyc-table-header">
        <h3>Common Topics for Data Submitters</h3>
    </header>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/Biospecimen_Data/">Biospecimen Data</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Case/">Case</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Clinical_Data/">Clinical Data</a>
        </span>
    </div>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/Clinical_Supplement/">Clinical Supplement</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Data_Submitter/">Data Submitter</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/dbGaP/">dbGaP</a>
        </span>
    </div>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/GDC_Data_Submission_Portal/">GDC Data Submission Portal</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/GDC_Data_Transfer_Tool/">GDC Data Transfer Tool (DTT)</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Redaction/">Redaction</a>
        </span>
    </div>
</div>
<div id = "encyc-table" style="background-color: white">
    <header id = "encyc-table-header">
        <h3>Common Topics for Data Developers</h3>
    </header>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/Entity/">Entity</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/GDC_API/">GDC API</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Latest_Data/">Latest Data</a>
        </span>
    </div>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/Manifest_File/">Manifest File</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Mutation_Annotation_Format/">Mutation Annotation Format (MAF)</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Release_Number/">Release Number</a>
        </span>
    </div>
    <div id="encyc-table-content">
        <span>
            <a href="/output/dist/Encyclopedia/pages/REST_API/">REST API</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/UUID/">Universally Unique Identifier (UUID)</a>
        </span>
        <span>
            <a href="/output/dist/Encyclopedia/pages/Variant_Call_Format/">Variant Call Format (VCF)</a>
        </span>
    </div>
</div>
<!--<div id = "encyc-table" style="background-color: white">
    <header id = "encyc-table-header">
        <h3>Common Topics for Clinicians</h3>
    </header>
    <div id="encyc-table-content">
        <span>
            <a href="">REST API</a>
        </span>
        <span>
            <a href="">Universally Unique Identifier(UUID)</a>
        </span>
        <span>
            <a href="">Variant Call Format (VCF)</a>
        </span>
    </div>
    <div id="encyc-table-content">
        <span>
            <a href="">Genome Characterization Center</a>
        </span>
        <span>
            <a href="">Loss of heterozygosity (LOH)</a>
        </span>
        <span>
            <a href="">Protected Health Information</a>
        </span>
    </div>
    <div id="encyc-table-content">
        <span>
            <a href="">Gene expression data (array based)</a>
        </span>
        <span>
            <a href="">Mutation Annotation Format (MAF)</a>
        </span>
        <span>
            <a href="">Tumor mutation samples</a>
        </span>
    </div>
</div>-->
</div>
</div>
<div>
          {% for key,value in encyclopedia_object.items()%}
          <div class = "doc-list" id = "{{ key }}-list">
            <br>
            <a><div style="font-size: 24px; color: #6b6262;">{{ key }}</div></a>
            {% for page in value %}
                <div>
                    <a href="{{ page[1]}}">{{ page[0]}}</a>
                </div>
            {% endfor %}
          </div>
          {% endfor %}
</div>
    
    </div>
</div>
        
        <div class="history-nav-control-container clearfix" role="navigation" aria-label="footer navigation">
            
            
        </div>
        
   </div>
   
</div>
<footer id="docs-footer">
    <div class="container-fluid footer-container">
      <div>
        <a href="https://portal.gdc.cancer.gov" target="_blank">Site Home</a>
        |
        <a href="http://www.cancer.gov/global/web/policies" target="_blank"
          >Policies</a
        >
        |
        <a
          href="http://www.cancer.gov/global/web/policies/accessibility"
          target="_blank"
          >Accessibility</a
        >
        |
        <a
          href="http://www.cancer.gov/global/web/policies/foia"
          target="_blank"
          >FOIA</a
        >
      </div>
      <div>
        <a href="http://www.hhs.gov" target="_blank"
          >U.S. Department of Health and Human Services</a
        >
        |
        <a href="http://www.nih.gov" target="_blank"
          >National Institutes of Health</a
        >
        |
        <a href="http://www.cancer.gov" target="_blank"
          >National Cancer Institute</a
        >
        | <a href="http://www.usa.gov" target="_blank">USA.gov</a>
      </div>
      <div>NIH... Turning Discovery Into Health ®</div>

      <div class="version-caption">GDC Docs Version 2.0</div>
    </div>
  </footer>



  <script>
    /* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */

    // Close the dropdown if the user clicks outside of it

    var toggler = document.getElementById("myToggle");
    toggler.onclick = function () {
      var myDropdown = document.getElementById("myDropdown");
      myDropdown.classList.toggle("show");
    };
    window.onclick = function (e) {
      if (!e.target.matches(".dropbtn")) {
        var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains("show")) {
          myDropdown.classList.remove("show");
        }
      }
    };


    
    
  </script>

  {% for f in js %}
    <script type="text/javascript" src="{{ f }}"></script>
    {% endfor %}
    
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</body>
</html>
