<html>
  <head> </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsed navigation -->
        <div class="my-container">
          <!-- Main title -->
          <a class="navbar-brand float-start" href="/.">
            <img
              class="brand-image"
              src="{{ logo }}"
              alt="NIH National Cancer
          Institute GDC Documentation"
            />
            <span class="hidden"
              >NIH National Cancer Institute GDC Documentation</span
            >
          </a>
          <!-- Expander button -->
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- GDC Apps -->
          <div class="pull-right">
            <div class="gdc-app-list dropbtn">
              <div class="dropbtn">
                <a id="myToggle" class="dropbtn dropdown-toggle">
                  <span class="dropbtn"
                    ><i class="fas fa-th"></i> GDC Apps</span
                  >
                </a>
                <div id="myDropdown" class="dropdown-content container">
                  <div class="row gdc-app-row">
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                  </div>
                  <div class="row gdc-app-row">
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                  </div>
                  <div class="row gdc-app-row">
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                    <div class="col-sm gdc-app-list">
                      <i class="fas fa-lg fa-heartbeat"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-dropdown-menu=""
                class="dropdown-menu gdc-apps-menu-container"
                role="menu"
              >
                <div class="gdc-apps-menu-grid">
                  <div class="menu-column">
                    <a
                      href="https://portal.gdc.cancer.gov/"
                      title="Data Portal"
                      target="_blank"
                      class="menu-item"
                    >
                      <img
                        width="21px"
                        src="/img/GDC-App-data-portal-blue.svg"
                        class="icon icon-gdc-portal home"
                        alt="GDC Data Portal"
                      />
                      <div>Data Portal</div>
                    </a>
                    <a
                      href="https://gdc.cancer.gov/developers/gdc-application-programming-interface-api"
                      title="GDC API"
                      target="_blank"
                      class="menu-item"
                    >
                      <span class="icon icon-gdc-portal-api">
                        <span class="path1"></span><span class="path2"></span
                        ><span class="path3"></span><span class="path4"></span
                        ><span class="path5"></span><span class="path6"></span
                        ><span class="path7"></span><span class="path8"></span
                        ><span class="path9"></span><span class="path10"></span>
                      </span>
                      <div>API</div>
                    </a>
                    <a
                      href="https://docs.gdc.cancer.gov/"
                      title="GDC Docs"
                      target="_blank"
                      class="active menu-item"
                    >
                      <span class="icon icon-gdc-docs">
                        <span class="path1"></span><span class="path2"></span
                        ><span class="path3"></span><span class="path4"></span
                        ><span class="path5"></span><span class="path6"></span
                        ><span class="path7"></span><span class="path8"></span
                        ><span class="path9"></span><span class="path10"></span
                        ><span class="path11"></span><span class="path12"></span
                        ><span class="path13"></span
                        ><span class="path14"></span>
                      </span>
                      <div>Documentation</div>
                    </a>
                    <a
                      href="https://portal.gdc.cancer.gov/legacy-archive"
                      title="GDC Legacy Archive"
                      target="_blank"
                      class="menu-item"
                    >
                      <span class="icon icon-gdc-legacy-archive">
                        <span class="path1"></span><span class="path2"></span
                        ><span class="path3"></span><span class="path4"></span
                        ><span class="path5"></span><span class="path6"></span
                        ><span class="path7"></span><span class="path8"></span
                        ><span class="path9"></span><span class="path10"></span>
                      </span>
                      <div>Legacy Archive</div>
                    </a>
                  </div>
                  <div class="menu-column">
                    <a
                      href="https://gdc.cancer.gov/"
                      title="GDC Website"
                      target="_blank"
                      class="menu-item"
                    >
                      <img
                        width="21px"
                        src="/img/GDC-App-website-blue.svg"
                        class="icon icon-gdc-portal home"
                        alt="GDC Website"
                      />
                      <div>Website</div>
                    </a>
                    <a
                      href="https://gdc.cancer.gov/access-data/gdc-data-transfer-tool"
                      class="menu-item"
                      title="GDC Data Transfer Tool"
                      target="_blank"
                    >
                      <span class="icon icon-gdc-data-transer-tool">
                        <span class="path1"></span><span class="path2"></span
                        ><span class="path3"></span><span class="path4"></span
                        ><span class="path5"></span><span class="path6"></span
                        ><span class="path7"></span><span class="path8"></span>
                      </span>
                      <div>Data Transfer Tool</div>
                    </a>
                    <a
                      href="https://portal.gdc.cancer.gov/submission/"
                      title="GDC Submission Portal"
                      target="_blank"
                      class="menu-item"
                    >
                      <span class="icon icon-gdc-submission-portal">
                        <span class="path1"></span><span class="path2"></span
                        ><span class="path3"></span><span class="path4"></span
                        ><span class="path5"></span><span class="path6"></span
                        ><span class="path7"></span><span class="path8"></span
                        ><span class="path9"></span><span class="path10"></span>
                      </span>
                      <div>Data Submission Portal</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid container-fluid-nav">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav navbar-center me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    aria-current="page"
                    href="/output/dist/api-getting-started/"
                    class="nav-link dropdown-toggle"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >API
                  </a>

                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    {% for page in nav_pages['API'] %} {% for key,value in
                    page.items() %}
                    <li>
                      <a class="dropdown-item" href="{{ value }}">{{ key }}</a>
                    </li>
                    {% endfor%} {% endfor%}
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    href="/output/dist/data-submission-portal-data-submission-process/"
                  >
                    Data Portal
                  </a>

                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    {% for page in nav_pages['Data Portal'] %} {% for key,value
                    in page.items() %}
                    <li>
                      <a class="dropdown-item" href="{{ value }}">{{ key }}</a>
                    </li>
                    {% endfor%} {% endfor%}
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    href="/output/dist/data-submission-portal-data-submission-process/"
                  >
                    Data Submission
                  </a>

                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    {% for page in nav_pages['Data Submission'] %} {% for
                    key,value in page.items() %}
                    <li>
                      <a class="dropdown-item" href="{{ value }}">{{ key }}</a>
                    </li>
                    {% endfor%} {% endfor%}
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="/output/dist/data-transfer-tool-index/"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Data Transfer Tool
                  </a>

                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    {% for page in nav_pages['Data Submission'] %} {% for
                    key,value in page.items() %}
                    <li>
                      <a class="dropdown-item" href="{{ value }}">{{ key }}</a>
                    </li>
                    {% endfor %} {% endfor%}
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    href="/output/dist/data-dictionary-index/"
                    class="nav-link dropdown-toggle"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Data Dictionary
                  </a>

                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    {% for page in nav_pages['Data Dictionary'] %} {% for
                    key,value in page.items() %}
                    <li>
                      <a class="dropdown-item" href="{{ value }}">{{ key }}</a>
                    </li>
                    {% endfor%} {% endfor%}
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    href="/output/dist/data-getting-started/"
                    >Data</a
                  >

                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    {% for page in nav_pages['Data'] %} {% for key,value in
                    page.items() %}
                    <li>
                      <a class="dropdown-item" href="{{ value }}">{{ key }}</a>
                    </li>
                    {% endfor%} {% endfor%}
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link"
                    role="button"
                    aria-expanded="false"
                    href="/output/dist/encyclopedia"
                  >
                    Encyclopedia
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
